/* /Pages/Puzzles.razor.rz.scp.css */
div.puzzle-icons-container[b-zr483qku0z] {
    padding-top: 5px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    gap: 10px;
    padding-bottom: 25px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-o6i0l6zj2t] {
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgb(64,64,64)
}

.main[b-o6i0l6zj2t] {
    flex: 1;
}

.sidebar[b-o6i0l6zj2t] {
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); */
    background-image: linear-gradient(180deg, rgb(50, 50, 50) 0%, rgb(100, 100, 100) 70%);
}

.top-row[b-o6i0l6zj2t] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-o6i0l6zj2t]  a, .top-row .btn-link[b-o6i0l6zj2t] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-o6i0l6zj2t] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-o6i0l6zj2t] {
        display: none;
    }

    .top-row.auth[b-o6i0l6zj2t] {
        justify-content: space-between;
    }

    .top-row a[b-o6i0l6zj2t], .top-row .btn-link[b-o6i0l6zj2t] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-o6i0l6zj2t] {
        flex-direction: row;
    }

    .sidebar[b-o6i0l6zj2t] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-o6i0l6zj2t] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-o6i0l6zj2t] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-yix37sgr3j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-yix37sgr3j] {
    height: 3.5rem;
    /*background-color: rgba(0,0,0,0.4);*/
}

.navbar-brand[b-yix37sgr3j] {
    font-size: 1.1rem;
    color: rgb(255,255,192);
}

.oi[b-yix37sgr3j] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-yix37sgr3j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-yix37sgr3j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-yix37sgr3j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-yix37sgr3j]  a {
        color: rgb(255,255,128);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

    .nav-item[b-yix37sgr3j]  a.active {
        background-color: rgba(255,255,255,0.2);
        color: rgb(255,255,192);
    }

.nav-item[b-yix37sgr3j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: rgb(255,255,192);
}

@media (min-width: 641px) {
    .navbar-toggler[b-yix37sgr3j] {
        display: none;
    }

    .collapse[b-yix37sgr3j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/PuzzleIcon.razor.rz.scp.css */
span.good[b-dsnxhc8irb] {
    color: green;
}

span.bad[b-dsnxhc8irb] {
    color: red;
}

div.puzzle-icon[b-dsnxhc8irb] {
    display: inline-block;
    width: 25%;
}

div.puzzle-icon-solved[b-dsnxhc8irb] {
    box-shadow: 0px 7px 14px green;
}

div.puzzle-icon-unsolved[b-dsnxhc8irb] {
    box-shadow: 0px 7px 14px red;
}

img.puzzle-icon-image[b-dsnxhc8irb] {
    width: 100%;
    height: auto;
}

div.puzzle-icon-image-placeholder[b-dsnxhc8irb] {
    width: 100%;
    height: auto;
    background-color: gray;
}

div.puzzle-icon-text[b-dsnxhc8irb] {

}
/* /Shared/RenderCluedl.razor.rz.scp.css */
span.good[b-s209eai82n] {
    color: green;
}

span.bad[b-s209eai82n] {
    color: red;
}

div.puzzle-icon[b-s209eai82n] {
    display: inline-block;
    width: 25%;
}

div.puzzle-icon-solved[b-s209eai82n] {
    box-shadow: 0px 7px 14px green;
}

div.puzzle-icon-unsolved[b-s209eai82n] {
    box-shadow: 0px 7px 14px red;
}

img.puzzle-icon-image[b-s209eai82n] {
    width: 100%;
    height: auto;
}

div.puzzle-icon-image-placeholder[b-s209eai82n] {
    width: 100%;
    height: auto;
    background-color: gray;
}

div.puzzle-icon-text[b-s209eai82n] {

}
